<nav class="navbar navbar-default navbar-fixed-top header-navbar" style="min-height: 56px;height: 56px; background-color: #3A3F51; color: white" >
    <div class="container-fluid" style="height: 56px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button> 
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Send Coins</a></li>
        <li><a href="#">View Transactions</a></li>
        <li><a href="#">View Blocks</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
    </div>
</nav>
<div id="dashboard" ng-if="(globals.currentUser)" >
	<div class="container-fluid container1 bg-1 text-center"><!--container0-->
		<!--<div class="profile-picture-icon"></div>-->
		<div><h4>Hi... {{globals.currentUser.username}}!</h4></div>       
		<div class="total-psl-coins">(
			<span class="icon-coin"><i class="glyphicon glyphicon-bitcoin"></i></span>
			<span>PSL Coins</span>
			<var>{{globals.currentUser.pslCoins}}</var>)
		</div>
	</div>
</div>