<nav id="topHeader" class="navbar navbar-default" >
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" ng-click="logOut();">
                <span class="logout-btn">
                    <img class="actionlink logout" src="/assets/img/grey/Logout.png" alt="logout" />
                </span>
            </button>
            <a class="navbar-brand" href=""> Mine-It! </a>
            
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right user-login">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Username 
                        <span class="login-pic-wrap"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUdFBZbl_qSONKU9QF_c_hIIpEJON0YLUnbLWQy78kLfa_rwZs_g" alt="" /></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>--><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>