<div class="is-auth">
    <div class="login-block">
        <div class="form-heading">
            <h1>Login</h1>
        </div>
        <div id="logingSection" class="form-body">
            <ul id="loginPills" class="nav nav-pills" ng-if="false">
                <li class="active"><a data-toggle="pill" href="#signIn">Sign In</a></li>
                <li><a data-toggle="pill" href="#signUp">Sign Up</a></li>
            </ul>
            <div class="tab-content"> 
                <div id="signIn" class="tab-pane fade in active">
                <form id="frmSignIn" novalidate>
                    <div class="form-group has-feedback">
                        <input ng-model="frmSignIn.signInEmail" name="signInemail" required type="text" 
                               placeholder="Enter User Name" 
                               class="form-control">
                        <span class="fa fa-user-circle form-control-feedback text-muted"></span>
                    </div>
                    <div class="form-group has-feedback" ng-if="false">
                        <input ng-model="frmSignIn.signInPassword" name="signInPassword" required type="password"
                               placeholder="Password" 
                               class="form-control">
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                    </div>

                    <button type="button" class="btn btn-block btn-primary mt-lg" ng-click="login(frmSignIn);">
                        Login <i ng-if="isSignInLoaded" class="fa fa-spinner fa-pulse fa-fw"></i>
                    </button>
                    
                     <button type="button" class="btn btn-block btn-primary mt-lg" ng-click="signUp(frmSignIn);"
                             style="background-color: green;border-color: green;">
                        Generate Username <i ng-if="isSignInLoaded" class="fa fa-spinner fa-pulse fa-fw"></i>
                    </button>

                    <p ng-if="isSignInError" class="pt-lg text-center text-danger"> {{errorSignInMessage}} </p>
                </form>
               </div><!-- /Sign In -->



                <div id="signUp" class="tab-pane fade">
                   <form id="frmSignUp" novalidate ng-submit="signup(signupForm)">
                    <div class="form-group has-feedback">
                        <input ng-Model="frmSignUp.signUpEmail" name="signUpEmail" required type="text" 
                               placeholder="Enter User Name"  class="form-control">
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    </div>
                    <div class="form-group has-feedback"  ng-if="false">
                        <input ng-Model="frmSignUp.signUpPassword" name="signUpPassword" required type="password" 
                               placeholder="Password" class="form-control">
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                    </div>

                    <button  type="submit" class="btn btn-block btn-primary mt-lg" ng-click="signUp(frmSignUp);">
                        Create account <i ng-if="isSignUpLoaded" class="fa fa-spinner fa-pulse fa-fw"></i>
                    </button>
                    <p ng-if="isSignUpErrorMessage" class="pt-lg text-center text-danger"> {{errorSignUpMessage}} </p>
                 </form>
              </div><!-- /Sign Up -->
               
            </div>
        </div>
    </div>
</div>
